html {
  height: 100%;
  width: 100%;
h1{
  font-family: 'Courier New', Courier, monospace;color: #ff40ff;
}
h1 {border: 5px solid;daashed
  border-color: black;;
  background-color: lightblue;
  color: #000000;
  padding: 40px;
  text-align: center;
}
  body {background-color: #fffbb9;}

p{
  font-family: ;Bradley Hand, cursive; color #a9606;
}
   body {color: #ff40ff;}
